*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
**/build
signaling/node_modules/
/captures
.externalNativeBuild
.cxx
local.properties
teacher-web/node_modules/
teacher-web/dist/
teacher-web/.env.local
scheduling/node_modules/
scheduling/.env
admin-web/node_modules/
admin-web/dist/
admin-web/.env.local
